<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxl.store.mappers.CartMapper">
    <!--    Integer addCart(Cart cart);-->
    <insert id="addCart" useGeneratedKeys="true" keyProperty="cid">
        INSERT INTO t_cart(uid,pid,price,num,created_user,created_time,modified_user,modified_time)
        VALUES (#{uid},#{pid},#{price},#{num},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime})
    </insert>
<!--    Integer updateCartInfo(Integer cid, Integer num , String modifiedUser, Date modifiedTime);-->
    <update id="updateCartInfo">
        UPDATE t_cart SET num = #{num},modified_user = #{modifiedUser},modified_time = #{modifiedTime}
        WHERE cid = #{cid}
    </update>

<!--    Cart findCartByUidAndPid(Integer uid,Integer pid);-->
    <select id="findCartByUidAndPid" resultType="com.zxl.store.entity.Cart">
        SELECT * FROM t_cart WHERE uid = #{uid} AND pid = #{pid}
    </select>
<!--    List<CartVo> findAllCartByUid(Integer uid);-->
    <select id="findAllCartByUid" resultType="com.zxl.store.vo.CartVo">
        SELECT
        c.cid,
        c.uid,
        c.pid,
        c.price,
        c.num,
        p.title,
        p.image,
        p.price AS realPrice
        FROM t_cart c
        LEFT JOIN  t_product p
        ON    c.pid=p.id
        WHERE c.uid = #{uid}
        ORDER BY c.created_time DESC
    </select>

<!--    Integer deleteCartByCid(Integer cid);-->
    <delete id="deleteCartByCid">
        DELETE FROM t_cart WHERE cid = #{cid}
    </delete>

<!--    Cart findCartByCid(Integer cid);-->
    <select id="findCartByCid" resultType="com.zxl.store.entity.Cart">
        SELECT * FROM t_cart WHERE cid = #{cid}
    </select>

<!--    Integer updateCartNumByCid(Integer num,Integer cid,String username,Date time);-->
    <update id="updateCartNumByCid">
        UPDATE t_cart SET num = #{num},modified_user = #{modifiedUser},modified_time = #{modifiedTime}
                      WHERE cid = #{cid}
    </update>

<!--    List<CartVo> findVoByCid(Integer[] cids);-->
    <select id="findVoByCid" resultType="com.zxl.store.vo.CartVo">
        SELECT
        c.cid,
        c.uid,
        c.pid,
        c.price,
        c.num,
        p.title,
        p.image,
        p.price AS realPrice
        FROM t_cart c
        LEFT JOIN  t_product p
        ON    c.pid=p.id
        WHERE c.cid IN (
            <foreach collection="array" item="cid" separator=",">
                #{cid}
            </foreach>
        )
        ORDER BY c.created_time DESC
    </select>

</mapper>
