<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxl.store.mappers.DistrictMapper">
<!--    List<District> findDistrictByParent(String parent);-->
    <select id="findDistrictByParent" resultType="com.zxl.store.entity.District">
        SELECT * FROM t_dict_district WHERE parent = #{parent} ORDER BY code ASC
    </select>
<!--    String findNameByCode(String code);-->
    <select id="findNameByParent" resultType="java.lang.String">
        SELECT name FROM t_dict_district WHERE code = #{code}
    </select>
</mapper>