<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxl.store.mappers.UserMapper">
    <!--Integer addUser(User user);-->
    <!--
        useGeneratedKeys 开启某(主键)个字段的值递增
        keyProperty 表示将表中的xxx字段作为主键
    -->
    <insert id="addUser" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO t_user(
        username,password,
        salt,phone,
        email,gender,
        avatar,is_delete,
        created_user,
        created_time,
        modified_user,
        modified_time
        )VALUES (
        #{username},#{password},
        #{salt},#{phone},
        #{email},#{gender},
        #{avatar},#{isDelete},
        #{createdUser},
        #{createdTime},
        #{modifiedUser},
        #{modifiedTime}
        )
    </insert>
    <!--User findUserByUsername(String username);-->
    <!--
        ResultType 表示查询的结果类型
        ResultMap 当表的字段和类的对象属性字段名称不一致时，来自定义结果的映射规则
    -->
    <select id="findUserByUsername" resultType="com.zxl.store.entity.User">
        SELECT * FROM t_user WHERE username = #{username}
    </select>


    <!--User findByUid(Integer uid);-->
    <select id="findByUid" resultType="com.zxl.store.entity.User">
        SELECT * FROM t_user WHERE uid = #{uid}
    </select>

    <!--    Integer updatePasswordByUid(Integer uid,
                                String password,
                                String modifiedUser,
                                Date modifiedTime);-->
    <update id="updatePasswordByUid" >
        UPDATE t_user SET password=#{password},
                          modified_time=#{modifiedTime},
                          modified_user=#{modifiedUser}
                          WHERE uid = #{uid}
    </update>

    <update id="updateInfoByUid">
        UPDATE t_user
        SET
        <if test="phone!=null">phone = #{phone},</if>
        <if test="email!=null">email = #{email},</if>
        <if test="gender!=null">gender = #{gender},</if>
        modified_time = #{modifiedTime},
        modified_user = #{modifiedUser}
        WHERE uid = #{uid}
    </update>

    <update id="updateAvatarByUid">
        UPDATE t_user
        SET
            avatar=#{avatar},
            modified_user=#{modifiedUser},
            modified_time=#{modifiedTime}

        WHERE
            uid = #{uid}
    </update>

</mapper>